<template>
  <div class="comment-form">
    <form @submit.prevent="$refs.recaptcha.execute">
      <div class="comment-form__typing-area">
        <div>
          <div class="comment-form__resize">
            <resizable-textarea>
              <textarea
                class="comment-form__text"
                :class="{ warning: isWarningMaxLength }"
                placeholder="Оставь комментарий..."
                :maxlength="maxLengthComment"
                v-model="text"
                ref="textarea"
                @keyup.ctrl.enter="$refs.recaptcha.execute"
              ></textarea>
            </resizable-textarea>

            <div
              class="comment-form__typing-lenght"
              :class="{ warning: isWarningMaxLength }"
            >
              {{ charactersLeft }}/{{ maxLengthComment }}
            </div>

            <el-button
              type="text"
              class="comment-form__emoji-button"
              v-click-outside="closeEmoji"
              @click="toggleEmojiPicker"
            >
              <svg
                style="max-height: 18px;"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 106.059 106.059"
              >
                <path
                  d="M90.544 90.542c20.687-20.684 20.685-54.341.002-75.024-20.688-20.689-54.347-20.689-75.031-.006-20.688 20.687-20.686 54.346.002 75.034 20.682 20.684 54.341 20.684 75.027-.004zM21.302 21.3c17.494-17.493 45.959-17.495 63.457.002 17.494 17.494 17.492 45.963-.002 63.455-17.494 17.494-45.96 17.496-63.455.003-17.498-17.498-17.496-45.966 0-63.46zM27 69.865s-2.958-11.438 6.705-8.874c0 0 17.144 9.295 38.651 0 9.662-2.563 6.705 8.874 6.705 8.874C73.539 86.824 53.03 85.444 53.03 85.444S32.521 86.824 27 69.865zm6.24-31.194a6.202 6.202 0 1 1 12.399.001 6.202 6.202 0 0 1-12.399-.001zm28.117 0a6.202 6.202 0 1 1 12.403.001 6.202 6.202 0 0 1-12.403-.001z"
                ></path>
              </svg>
            </el-button>
          </div>

          <transition name="el-fade-in">
            <v-emoji-picker
              ref="emojiPicker"
              v-if="isShowEmojiPicker"
              :dark="true"
              class="comment-form__emoji-container"
              @select="onSelectEmoji"
            />
          </transition>
        </div>
      </div>

      <div class="comment-form__panel">
        <el-button
          type="primary"
          native-type="submit"
          class="comment-form__button"
          :loading="isLoading"
          :disabled="readySend"
          size="small"
        >
          Отправить
        </el-button>
      </div>

      <recaptcha ref="recaptcha" @verify="onSubmitComment" />
    </form>
  </div>
</template>

<script>
import ResizableTextarea from "../common/ResizableTextarea.js";
import Recaptcha from "../common/Recaptcha";
import VEmojiPicker from "v-emoji-picker";

export default {
  name: "CommentForm",

  components: {
    ResizableTextarea,
    Recaptcha,
    VEmojiPicker,
  },

  props: {
    focusAfterShow: {
      type: Boolean,
      default: false,
    },
    hideButton: {
      type: Boolean,
      default: true,
    },
  },

  data: () => ({
    text: "",
    isLoading: false,
    isShowEmojiPicker: false,
    maxLengthComment: 1500,
  }),

  mounted() {
    if (this.focusAfterShow) {
      this.$refs.textarea.focus();
    }
    this.isFocused = !this.hideButton;
  },

  methods: {
    closeEmoji() {
      this.isShowEmojiPicker = false;
    },
    toggleEmojiPicker() {
      this.isShowEmojiPicker = !this.isShowEmojiPicker;
      if (!this.isShowEmojiPicker) return;
      const modal = document.getElementById("modalWindow");
      const checkEmojiIsRendered = () => {
        if (this.$refs.emojiPicker) {
          const EmojiPickerClientRect = this.$refs.emojiPicker.$el.getClientRects()[0];
          const y =
            EmojiPickerClientRect.top +
            EmojiPickerClientRect.height -
            document.documentElement.clientHeight +
            20;
          modal.scrollBy(0, y);
        } else {
          this.$nextTick(checkEmojiIsRendered);
        }
      };
      this.$nextTick(checkEmojiIsRendered);
    },

    onSelectEmoji(emoji) {
      this.execInsertText(emoji.data);
      this.isShowEmojiPicker = false;
    },

    execInsertText(insertText) {
      if (!insertText.length) return;

      const textarea = this.$refs.textarea;
      const sentence = textarea.value;
      const len = sentence.length;
      let pos = textarea.selectionStart;
      if (pos === undefined) {
        pos = 0;
      }

      const before = sentence.substr(0, pos);
      const after = sentence.substr(pos, len);

      this.text = before + insertText + after;

      this.$nextTick().then(() => {
        textarea.focus();
        textarea.selectionStart = pos + insertText.length;
        textarea.selectionEnd = pos + insertText.length;
      });
    },

    onSubmitComment(recaptchaToken) {
      if (this.text.length > this.maxLengthComment) {
        return;
      }

      this.isLoading = true;

      // Send event parent component
      this.$emit("onSubmitComment", {
        text: this.text,
        recaptchaToken,
        resetForm: () => {
          this.text = "";
          this.isLoading = false;
          this.$refs["textarea"].focus();
          this.$refs["textarea"].style.height = "auto";
        },
      });
    },
  },

  computed: {
    readySend() {
      return !this.text.length;
    },
    charactersLeft() {
      return this.maxLengthComment - this.text.length;
    },
    isWarningMaxLength() {
      return this.charactersLeft < 30;
    },
  },
};
</script>