<template>
  <el-button class="murr-button" @click="sendMurrMessage"
    >Сообщение для мурр_вебсокета</el-button
  >
  <!--  <div class="home-main-container chat">-->
  <!--    <ul class="chat-received">-->
  <!--      <template v-for="i in 16">-->
  <!--        <murr-chat-message :key="i"> </murr-chat-message>-->
  <!--      </template>-->
  <!--    </ul>-->
  <!--    <div class="chat-new_message">-->
  <!--      <resizable-textarea>-->
  <!--        <textarea-->
  <!--          class="chat-new_message__textarea"-->
  <!--          placeholder="Напиши сообщение..."-->
  <!--          v-model="text"-->
  <!--          maxlength="224"-->
  <!--          rows="1"-->
  <!--        ></textarea>-->
  <!--      </resizable-textarea>-->
  <!--      <el-button-->
  <!--        class="chat-new_message__button"-->
  <!--        icon="el-icon-s-promotion"-->
  <!--      ></el-button>-->
  <!--    </div>-->
  <!--  </div>-->
</template>

<script>
// import ResizableTextarea from "../common/ResizableTextarea.js";
// import MurrChatMessage from "./MurrChatMessage.vue";
import "./scss/style.scss";
import { websocket_base_url, tavernSocketUrl } from "../../devAndProdVariables";
/* eslint-disable no-console */
export default {
  name: "murr-chat",
  data() {
    return {
      text: "",
    };
  },
  mounted() {
    let token = this.$store.getters.accessToken_getters;
    this.murrTavernSocket = new WebSocket(
      websocket_base_url + tavernSocketUrl + "?token=" + token
    );
    this.murrTavernSocket.onopen = () => {
      // eslint-disable-next-line no-console
      console.log("socket.onopen");
    };
    this.murrTavernSocket.onmessage = (event) => {
      this.socketMessage = JSON.parse(event.data);
      // eslint-disable-next-line no-console
      console.log(this.socketMessage);
    };
    this.murrTavernSocket.onclose = (event) => {
      if (event.wasClean) {
        // eslint-disable-next-line no-console
        console.log("Соединение закрыто чисто");
      } else {
        // eslint-disable-next-line no-console
        console.log("Обрыв соединения");
      }
      // eslint-disable-next-line no-console
      console.log("Код: " + event.code + " причина: " + event.reason);
    };
    this.murrTavernSocket.onerror = (error) => {
      // eslint-disable-next-line no-console
      console.log("Ошибка " + error.message);
    };
  },
  methods: {
    sendMurrMessage() {
      this.murrTavernSocket.send(
        JSON.stringify({
          data: {
            message: "Привет из сокета Мурренган =)",
          },
          gan: "send_message",
        })
      );
    },
  },
  components: {
    // ResizableTextarea,
    // MurrChatMessage,
  },
};
</script>
