<template>
  <li class="message-item">
    <img
      class="message-item__user-avatar"
      src="@/assets/img/test_avatar.jpg"
      alt="user avatar"
    />
    <p class="message-item__user-name">Юзернейм</p>
    <p class="message-item__content">
      Consectetur sint cumque voluptate velit quidem Blanditiis amet at
      voluptatum laboriosam officia eveniet? Natus laboriosam magnam quo
      officiis esse eum eos? Libero aspernatur ea voluptatesdipisicing quidem
      eligendi repudiandae adipisci ut, eum?
    </p>
  </li>
</template>

<script>
import "./scss/style.scss";

export default {
  name: "murr-chat-message",
};
</script>
